.description__layout {
  margin-top: 4vh;
  display: flex;
  &__textarea {
    &__headingLarge {
      font-family: Archivo;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  &__text {
    font-family: Archivo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #656565;
    font-family: Archivo;
    font-weight: 300;
  }

  &__details {
    display: flex;
    text-align: left;
    justify-content: flex-end;

    &__heading {
      font-family: Archivo;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: right;
    }
  }
}
