.mynav {
  background: red;
  padding: 2vh;
  position: relative;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.cartItems {
  width: 25vw;
  height: 30vh;
  border: 1px solid black;
  position: absolute;
  top: 1%;
  right: 2%;
  background: #fff;
}
