.mynav {
  border-bottom: 2px solid gray;
  padding: 2vh;
  position: relative;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    cursor: pointer;
  }
}

.cartItems {
  width: 25vw;
  height: 30vh;
  border: 1px solid black;
  position: absolute;
  top: 85%;
  right: 0;
  background: #fff;
  overflow-y: scroll;
  z-index: 5;

  &__cartBtn {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    height: 15%;
  }
}
