.paginationBtns {
  display: flex;
  list-style: none !important;
  color: #b4b4b4;
}

.myPage {
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
}

.previousBtns,
.nextBtns {
  padding: 0.2rem;
  font-weight: 400;
  color: black;
  min-width: 24px;
}

.paginationActive {
  color: #000000;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  margin-top: 3vh;
  margin-left: 0vw;
}

.paginationText {
  margin-top: 1vh;
}
